	.container-fluid {
		background-color: #a3a3c2;
	}
    #navbar {
            font-family: "quicksand";
            font-size: 38px;
            font-weight: bold;
            background-color: #a3a3c2;
            text-shadow: 1px 1px 2px #ffffff;
        }
    .navbar-brand {
            font-family: "Ostrich";
            font-size: 50px;
            margin-bottom: 20px;
            background-color: #a3a3c2;
        }